### Class Attributes in Object-Oriented Programming (OOP)

In Python, class attributes are variables that are shared across all instances of a class. They are defined **inside the class but outside any method**, and they belong to the class itself rather than to any specific object.

Unlike instance attributes (which are unique to each object), class attributes maintain the same value for all objects unless explicitly changed at the class or object level.

class ClassName:
    class_attribute = value  # Class attribute

    def __init__(self, instance_value):
        self.instance_attribute = instance_value  # Instance attribute

### University System – Common University Name

In [2]:
class Student:
    university_name = "Oxford University"  # Class attribute

    def __init__(self, name):
        self.name = name

s1 = Student("Alice")
s2 = Student("Bob")
print(s1.university_name)  # Oxford University
print(s2.university_name)  # Oxford University

Oxford University
Oxford University

### Bank System – Same Interest Rate for All Accounts

In [3]:
class BankAccount:
    interest_rate = 0.05  # Class attribute

    def __init__(self, account_holder):
        self.account_holder = account_holder

a1 = BankAccount("John")
a2 = BankAccount("Emma")
print(a1.interest_rate)  # 0.05
print(a2.interest_rate)  # 0.05

0.05
0.05

### Hospital Management – Same Visiting Hours

In [4]:
class Doctor:
    visiting_hours = "9 AM - 5 PM"

    def __init__(self, name):
        self.name = name

d1 = Doctor("Dr. Smith")
d2 = Doctor("Dr. Lee")
print(d1.visiting_hours)
print(d2.visiting_hours)

9 AM - 5 PM
9 AM - 5 PM

### Space Missions – Same Launch Site

In [5]:
class SpaceMission:
    launch_site = "Cape Canaveral"

    def __init__(self, mission_name):
        self.mission_name = mission_name

m1 = SpaceMission("Apollo 11")
m2 = SpaceMission("Mars Rover")
print(m1.launch_site)
print(m2.launch_site)

Cape Canaveral
Cape Canaveral

### Airline Company – Common Airline Name

In [6]:
class Flight:
    airline = "Emirates"

    def __init__(self, flight_number):
        self.flight_number = flight_number

f1 = Flight("EK202")
f2 = Flight("EK303")
print(f1.airline)
print(f2.airline)

Emirates
Emirates

### Movie Theater – Same Ticket Price

In [7]:
class MovieTicket:
    ticket_price = 12.50

    def __init__(self, seat_number):
        self.seat_number = seat_number

t1 = MovieTicket("A1")
t2 = MovieTicket("B2")
print(t1.ticket_price)
print(t2.ticket_price)

12.5
12.5

### Gaming Platform – Same Server Name

In [8]:
class GamePlayer:
    server = "Asia Server"

    def __init__(self, username):
        self.username = username

p1 = GamePlayer("Shadow")
p2 = GamePlayer("Ghost")
print(p1.server)
print(p2.server)

Asia Server
Asia Server

### Government IDs – Same Country Name

In [9]:
class Passport:
    country = "Pakistan"

    def __init__(self, passport_number):
        self.passport_number = passport_number

p1 = Passport("PK1234")
p2 = Passport("PK5678")
print(p1.country)
print(p2.country)

Pakistan
Pakistan

### Car Manufacturing – Same Manufacturer

In [10]:
class Car:
    manufacturer = "Tesla"

    def __init__(self, model):
        self.model = model

c1 = Car("Model S")
c2 = Car("Model X")
print(c1.manufacturer)
print(c2.manufacturer)

Tesla
Tesla

### ✅ Key Points to Remember:

- Class attributes are shared across all objects of a class.

- They are defined once and can be accessed using either the class name or object name.

- If you change the value using the class name, it updates for all objects.

- If you change it using an object name, it only affects that object (it creates an instance attribute overriding the class attribute).

### Sports League – Same League Name

In [11]:
class FootballTeam:
    league_name = "Premier League"

    def __init__(self, team_name):
        self.team_name = team_name

t1 = FootballTeam("Manchester United")
t2 = FootballTeam("Chelsea")
print(t1.league_name)
print(t2.league_name)

Premier League
Premier League

### ✅ Key Points to Remember:

- Class attributes are shared across all objects of a class.

- They are defined once and can be accessed using either the class name or object name.

- If you change the value using the class name, it updates for all objects.

- If you change it using an object name, it only affects that object (it creates an instance attribute overriding the class attribute).